*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 700px;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.examples{
  text-align: center;
  list-style-type: none;
}

li{
  margin: 15px 0;
}

a:visited,
a:link,
a:active{
  color: #2B74A9;
}